##ax2+bx+c=0

import math
a = eval(input())
b = eval(input())
c = eval(input())
deta = b*b-4*a*c
if a==0:
    if b==0:
        print('请进行检查，方程式错误')
    else :
        print(-c/b)
else:
    if deta < 0 :
        print('请进行检查，方程式错误')
    else :
        if deta == 0:
            print((math.sqrt(b*b-4*a*c)-b)/(2*a))
        else :
            print((math.sqrt(b * b - 4 * a * c) - b) / (2 * a),(-math.sqrt(b * b - 4 * a * c) - b) / (2 * a))
